<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event list</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/eventPage.css" />  
</head>

<body>
  <header>
    <%- include('../views/partials/header.ejs'); %>
  </header>
  <main>
    <div class="event">
      <div class="img"><img width="250px" height="250px" src="/img/pizza.png" alt="pizza" /></div>
      <div class="eventInfo">
        <h1 class="title"><%= eventTitle %></h1>
        <p class="description">
          <%= eventDescription %>
        </p>
        <div class="bottom">
          <p class="date">Data: <%= eventDate %></p>
          <p class="place">Miejsce: <%= eventVenue %></p>
          <p class="author">Organizator: <%= author %></p>
        </div>
        <div class="buttons">
          <button class="joinButton">Dołącz do wydarzenia</button>
          <button class="returnButton">Powrót</button>
        </div>
      </div>
    </div>
  </main>
</body>

</html>