<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meeter</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="styles/styleUserProfile.css">
  <link rel="stylesheet" href="styles/style.css" />
  <script>src = "https://kit.fontawesome.com/8ac3213b3c.js"</script>
</head>

<body>  
  <header><%- include('../views/partials/header.ejs'); %>
  </header>
  
  <div class="flexbox">
    <main>
          <div class="formSpace">
            <h1>Profil użytkownika</h1>
            <form>
              <div class="txtField">
                <div class="form-control" id="ti">
                  <label>Imię</label>
                  <input type="text" value="<%= firstName %>" name="input"  disabled/>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <div class="errorMsg">
                    <small>Error message</small>
                  </div>
                </div>
              </div>

              <div class="txtField">
                <div class="form-control" id="ti">
                  <label>Nazwisko</label>
                  <input type="text" value="<%= lastName %>"  name="input"  disabled/>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <div class="errorMsg">
                    <small>Error message</small>
                  </div>
                </div>
              </div>

              <div class="txtField">
                <div class="form-control" id="ti">
                  <label>Wiek</label>
                  <input type="text" value="<%= datePicker %>"  name="input"  disabled/>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <div class="errorMsg">
                    <small>Error message</small>
                  </div>
                </div>
              </div>
              
              <div class="txtField">
                <div class="form-control" id="ti">
                  <label>Email</label>
                  <input type="text" value="<%= email %>" name="input"   disabled/>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <div class="errorMsg">
                    <small>Error message</small>
                  </div>
                </div>
              </div>
             
            </form>
            <div class="button"><button onclick=myFunction() class="editButton">Edytuj</button></div>

          </div>
        </div>
    </main>
  </div>
  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
  <script src="../userProfile.js"></script>
</body>
</html>