<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meeter</title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="styles/userProfile.css" />
  <link rel="stylesheet" href="styles/style.css" />
  <script>
    src = "https://kit.fontawesome.com/8ac3213b3c.js";
  </script>
</head>

<body>
  <header>
    <%- include('../views/partials/header.ejs'); %>
  </header>
  <main>
    <div class="formSpace">
      <h1>Profil użytkownika</h1>

      <form class="form" id="userUpdateForm" method="post" action="/api/userUpdate">
        <div class="txtField">
          <div class="form-control" id="ti">
            <label>Imię</label>
            <input type="text" value="<%= firstName %>" name="firstName" disabled />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <div class="errorMsg">
              <small>Error message</small>
            </div>
          </div>
        </div>

        <div class="txtField">
          <div class="form-control" id="ti">
            <label>Nazwisko</label>
            <input type="text" value="<%= lastName %>" name="lastName" disabled />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <div class="errorMsg">
              <small>Error message</small>
            </div>
          </div>
        </div>

        <div class="txtField">
          <div class="form-control" id="ti">
            <label>Data urodzenia</label>
            <input type="text" value="<%= datePicker %>" name="datePicker" disabled />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <div class="errorMsg">
              <small>Error message</small>
            </div>
          </div>
        </div>

        <div class="txtField">
          <div class="form-control" id="ti">
            <label>Email</label>
            <input type="text" value="<%= email %>" name="updatedEmail" disabled />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <div class="errorMsg">
              <small>Error message</small>
            </div>
          </div>
        </div>
        <input type="submit" value="Zaaktualizuj dane" />
      </form>

      <div class="button">
        <button onclick="myFunction()" class="editButton">Edytuj</button>
      </div>
      <div class="button">
      </div>
      <a href="#" id="button" class="deleteButton">Usuń konto</a>
    </div>

    <div class="bg-modal">
      <div class="formSpace" index="formSpaceRegister">
        <div class="close">&#10006;</div>
        <h1>Usuwanie konta</h1>

        <form class="form" id="form" method="post" action="/api/adduser">
          <div class="txtField">
            <label>Czy na pewno chcesz usunąć konto?</label>
            <div class="form-control" id="fn">
              <button onclick="location.href='/api/userDelete'" type="button" class="deleteButton">Tak, chcę usunąć moje
                konto</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/userProfile.js"></script>
</body>

</html>